NODE_ENV=development
PORT=5000

# MongoDB
MONGO_URI=mongodb://localhost:27017/gohash

# JWT
JWT_SECRET=change_this_to_a_long_random_secret
JWT_EXPIRES_IN=7d

# Blockchain (Hardhat local node)
CHAIN_RPC_URL=http://127.0.0.1:8545
NOTARY_CONTRACT_ADDRESS=0x0000000000000000000000000000000000000000
DEPLOYER_PRIVATE_KEY=0xac0974bec39a17e36ba4a6b4d238ff944bacb478cbed5efcae784d7bf4f2ff80

# CORS
CORS_ORIGIN=http://localhost:5173
